body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

input[type="text"], button {
    color: black;
}

a {
    color: rgb(33, 148, 18);
    text-decoration: none;
}

a.valid {
    color: green;
}

p.success {
    color: lime;
}

p.error {
    color: red;
}